@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

@import './base.css';
@import './components.css';
@import './pages/home.css';
@import './pages/blog.css';
@import './pages/admin.css';
